{% extends "base.html" %}

{% block content %}
<h3>What is this nonsense?</h3>

<p>
    This started as a joke in <a href="http://www.relay.fm/cortex/15">episode #15 of <em>Cortex</em></a>, a podcast on the Relay.FM network.
</p>

<p>
    The hosts were joking about the <a href="https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon">Six Degrees of Kevin Bacon</a>, and how Myke is the Kevin Bacon of the podcasting world.
    He founded his own podcast network, and co-hosts many of the shows.
    They were wondering how many connections you could find from Myke to other popular podcasters.
</p>

<p>
    Lots of people were making static charts, but those are hard to follow and don't scale to many podcasters.
    I made this site as a bit of fun while cooking dinner.
</p>

<p>
    It serves no purpose, it's just a bit of fun. I hope it makes you smile. :-)
</p>
{% endblock %}