{% extends "base.html" %}

{% block content %}
        <form action="" method="post" name="login" class="styled-select">
          {{ form.hidden_tag() }}
          <p>Find the podcast connection between</p>
          <p><select class="form-control"  name="src" id="src">
            {%- for value, choice in form.src.choices -%}
            <option value="{{ value }}"{% if value == src %} selected{% endif %}>{{ choice }}</option>
            {%- endfor -%}
          </select></p>
          <p>and</p>
          <p><select class="form-control"  name="dst" id="dst">
            {%- for value, choice in form.dst.choices -%}
            <option value="{{ value }}" {% if value == dst %} selected{% endif %}>{{ choice }}</option>
            {%- endfor -%}
          </select></p><br>

          <p><input type="submit" value="Connect!" class="btn btn-primary"></p>
        </form>

        {% if result %}
        <div class="result">
        <hr>
          {% if result == ['identical'] %}
            {{ src }} is connected to themselves.
          {% elif result == ['disconnected'] %}
            I don't know of a podcast connection between {{ src }} and {{ dst }}.
          {% elif result|count == 1 %}
            {{ src }} and {{ dst }} are on the same podcast: <strong>{{ result[0][2] }}</strong>.
          {% else %}
            <p>{{ src }} and {{ dst }} are separated by {{ result|count }} podcasts:</p>
            <ul>
              {% for r in result %}
                <li><p>{{ r[0] }} and {{ r[1] }} are both on <em>{{ r[2] }}</em>.</p></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {% endif %}

        <hr>

        <center>
        <a href="/about">What is this nonsense?</a>
    </center>
{% endblock %}